# 移除重复数据
pandas dataframe d.duplicated()  
pandas dataframe d.drop_duplicates()

In [ ]:
import pandas as pd
import numpy as np
data = pd.DataFrame({'k1':['one']*3 + ['two']*4,
                    'k2':[1,1,2,3,3,4,4]})
data

In [ ]:
data.duplicated()

In [ ]:
data.drop_duplicates()

In [ ]:
data.loc[:,'v1']=range(7)
data.drop_duplicates(subset=['k1'])

In [ ]:
data.drop_duplicates(subset=['k1','k2'],keep='last')

# 利用函数或映射进行数据转换
python str s.lower()  
pandas series s.map()  
python More on Defining Functions lambda a, b: a+b

In [ ]:
data= pd.DataFrame({'food':['bacon','pulled pork','bacon','Pastrami','corned beef','Bacon','pastrami','honey ham','nova lox'],
                   'ounces':[4,3,12,6,7.5,8,3,5,6]})
data

In [ ]:
meat_to_animal = {
    'bacon': 'pig',
    'pulled pork': 'pig',
    'pastrami':'cow',
    'corned beef': 'cow',
    'honey ham': 'pig',
    'nova lox': 'salmon'
}
data.loc[:,'animal']=data.loc[:,'food'].map(str.lower).map(meat_to_animal)
data

In [ ]:
data.loc[:,'food'].map(lambda x: meat_to_animal[x.lower()])

# 替换值
pandas series s.replace()

In [ ]:
data = pd.Series([1.,-999.,2.,-999.,-1000.,3.])
data

In [ ]:
data.replace(to_replace=-999,value=np.nan)

In [ ]:
data.replace(to_replace=[-999,-1000],value=np.nan)

In [ ]:
data.replace(to_replace=[-999,-1000],value=[np.nan,0])

In [ ]:
data.replace(to_replace={-999:np.nan,-1000:0})

# 重命名轴索引
pandas dataframe d.index  
pandas Index i.map()  
python str s.upper()  
pandas dataframe d.rename()  
python str s.title()  
python str s.upper()

In [ ]:
data = pd.DataFrame(np.arange(12).reshape((3,4)),
                   index=['ohio','colorado','new york'],
                   columns=['one','two','three','four'])
data.index.map(mapper=str.upper)

In [ ]:
data.rename(index=str.title,columns=str.upper)

In [ ]:
data.rename(index={'ohio':'INDIANA'},columns={'three':'peekaboo'})

In [ ]:
data.rename(index={'ohio':'INDIANA'},inplace=True)
data

# 离散化和面元划分
pandas General functions pd.cut()  
pandas Pandas arrays Categorical.codes  
pandas Pandas arrays Categorical.categories  
pandas Pandas arrays Categorical.value_counts()  
numpy Random sampling (numpy.random) np.random.rand()  
pandas General functions pd.qcut()

In [ ]:
ages = [20,22,25,27,21,23,37,31,61,45,41,32]
bins = [18,25,35,60,100]
cats = pd.cut(x=ages,bins=bins)
cats

In [ ]:
cats.codes

In [ ]:
cats.categories

In [ ]:
cats.value_counts()

In [ ]:
pd.cut(x=ages,bins=[18,26,36,61,100],right=False)

In [ ]:
group_names = ['Youth','YoungAdult','MiddleAged','Senior']
pd.cut(x=ages,bins=bins,labels=group_names)

In [ ]:
data = np.random.rand(20)
pd.cut(x=data,bins=4,precision=2)

In [ ]:
data=np.random.randn(1000)
cats = pd.qcut(x=data,q=4)
cats

In [ ]:
cats.value_counts()

In [ ]:
pd.qcut(x=data,q=[0,0.1,0.5,0.9,1.])

# 检测和过滤异常值
numpy Random sampling (numpy.random) np.random.seed()   
pandas dataframe d.describe()

In [ ]:
np.random.seed(12345)
data=pd.DataFrame(np.random.randn(1000,4))
data.describe()